<section class="article-page" style="margin-bottom: 20px;">
  <section class="article-summary">
    <div class="article-summary-text" style="display: flex; justify-content: right">
      @if (article().status == 1){
        <button matButton="filled" (click)="openDialog(article().id)" style="border-radius: 10px; margin-right: 10px; background-color: #cc0000"><mat-icon fontIcon="cancel"></mat-icon>Reddet</button>
        <button matButton="filled" (click)="openAction(article().id,'review')" style="border-radius: 10px"><mat-icon fontIcon="visibility"></mat-icon>İncelemeye al</button>
      } @else if (article().status == 4) {
        <button matButton="filled" disabled style="border-radius: 10px; background-color: #cc0000; color: white"><mat-icon fontIcon="cancel"></mat-icon>Bu makale reddedildi</button>
      }
    </div>
  </section>
</section>


@if (article()){
  <div class="article-page">
    <div class="article-header">
      <div class="article-pill">
        <span class="article-pill-dot"></span>
        MAKALE
      </div>

      <h1 class="article-title">
        {{ article().title }}
      </h1>

      <div class="article-meta">
        <div class="meta-item">
          <span class="meta-dot"></span>
          <span>
          Eklenme:
          <time>
            {{ article().updatedAt }}
          </time>
        </span>
        </div>

        <div class="meta-item">
          <span class="meta-dot"></span>
          <span>
          Son Güncelleme:
          <time>
            {{ article().updatedAt }}
          </time>
        </span>
        </div>
      </div>
    </div>

    <section class="article-summary">
      <div class="article-summary-label">Özet</div>
      <div class="article-summary-text">
        {{ article().summary }}
      </div>
    </section>

    <article class="article-content">
      <p>
        {{ article().content }}
      </p>

    </article>

    <section class="article-footer">
      <div>
        Son güncelleme:
        <time>
          {{ article().updatedAt }}
        </time>
      </div>

      <!-- Geri dön butonunu parentte yönlendirme ile bağlayabilirsin
      <button type="button" class="back-link" (click)="history.back()">
        ← Listeye geri dön
      </button>-->
    </section>
  </div>
}


