@if (loading()) {
  <div style="padding: 20px; background-color: #0f172a; border-radius: 15px">
    <p style="color: white; font-weight: bold">Veriler Yükleniyor</p>
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>
} @else if (error()){
  <div style="padding: 20px; background-color: #0f172a; border-radius: 15px">
    <p style="color: white; font-weight: bold">Veriler Getirilirken Hata Oluştu</p>
  </div>
} @else {
  <table class="table table-hover">
    <thead>
    <tr class="table-dark">
      <th scope="col">Id</th>
      <th scope="col">Başlık</th>
      <th scope="col">Tarih</th>
    </tr>
    </thead>
    <tbody>
      @for (a of assignedArticles(); track a.articleId){
        <tr (click)="goAssignedArticleDetail(a.articleId)">
          <th scope="row">{{a.articleId}}</th>
          <td>{{a.articleTitle}}</td>
          <td>{{a.reviewedAt}}</td>
        </tr>
      }
    </tbody>
  </table>
}
