<div class="page">
  <div class="login-container">
    <div class="logo">WR</div>
    <h2>Hoş geldiniz</h2>
    <p>Hesabınıza giriş yaparak devam edin</p>
    <form id="loginForm">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email@example.com" [(ngModel)]="email" name="email">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="**********" type="password" [(ngModel)]="password" name="password">
      </mat-form-field>
      <button (click)="login()" matButton = "filled" class="example-full-width" style="border-radius: 7px">Giriş Yap</button>
    </form>
  </div>
</div>
